<!DOCTYPE html>
<html>
	<head>
		<title>Keithmiketom Website</title>
		
	</head>
	<body>
		<div id="wrapper">
		<h1>Welcome to the city</h1> 
<div class="building about"> 
<p>Hi I'm Keith! I am an Artist, Designer, Illustrator, Educator, Web Developer and lover of Cats. I am from Dublin in Ireland. I Graduated from NCAD in 2006 with a BA in Art &amp; Design Education, with a
specialism in Graphic Design, though I always took a "Fine Art" methodology to my work</p>
<p>In 2012 I returned to study Web Technologies in NCI part-time, building on my graphic design skills</p>
</div>
<div class="brokenbuilding blog">
	<!-- link to blog-->
</div>
<div class="building art"> 
<h2><a href="../galleries">About the Art</a></h2>
<p>My work is a little bit quirky, and a lot of fun! I use an Illustrative style in all my approaches, and aim to
make anything I produce playful and fun to approach.<p>
I base some of my personal work on the
world around me, whether it is interactions with others, past
experiences, or the city I live in. I also paint cats and bees that shoot lasers from their eyes</p>
<!-- link to dart page-->
</div>
<div><!-- gallery style bulding with css slider of some art samples--></div>
<div class="brokenbuilding design">
	<!-- link to design site-->
</div>
<div class="building contact"> 
<h2>Contact Keith</h2>
<p>Maybe you saw the site, maybe you like my work, maybe you want to get in touch and have 
me design make or develop something for you? maybe you just want cake? either way, fill in 
the form and I'll get in touch</p>

<form>
	<label for="name">
	</label>
</form>
</div>
</div>
	</body>
</html>