<article id="aboutpage">
	<section class="left">
		<h1>Welcome to the city</h1> 
		<div class="building about"> 
			<h2>A bit about me</h2>
			<p>Hi I'm Keith! I am an Artist, Designer, Illustrator, Educator, Web Developer and lover of Cats. I am from Dublin in Ireland. I Graduated from NCAD in 2006 with a BA in Art &amp; Design Education, with a
				specialism in Graphic Design, though I always took a "Fine Art" methodology to my work</p>
			<p>In 2012 I returned to study Web Technologies in NCI part-time, building on my graphic design skills</p>
		</div>
		<div class="brokenbuilding blog">
			<h2>What I do...</h2>
		</div>
		<div class="building art"> 
			<h2><a href="../galleries">About the Art</a></h2>
			<p>My work is a little bit quirky, and a lot of fun! I use an Illustrative style in all my approaches, and aim to
			make anything I produce playful and fun to approach.<p>
			I base some of my personal work on the world around me, whether it is interactions with others, past
			experiences, or the city I live in. I also paint cats and bees that shoot lasers from their eyes</p>
				<!-- link to dart page-->
		</div>
		<div><!-- gallery style bulding with css slider of some art samples--></div>
		<div class="brokenbuilding design">
			<h2>Design</h2><!-- link to design site-->
			<p>I also design illustraions and websites. You can check out my design site by clicking the heading.</p>
		</div>
	</section>
	
</article>
<aside class="nav_map right">
	<section>
		<h2>Links</h2>
		<div>
		<ul class="mapping">
			<li><a href="galleries" class="one">Art</a></li>
			<li><a href="blogs" class="two">Blog</a></li>
			<li><a href="contact" class="three">Contact</a></li>
			<li><a href="http://www.keithgregg.com" class="four" target="_blank">About</a></li>
		</ul>
		</div>
		
	<p><small>Click the map to visit the relevant pages.</small></p>
	</section>
	
	<section>		
		<h2>Twitter Feed:</h2>
		<a class="twitter-timeline" width="300px" href="https://twitter.com/keithmiketom" data-widget-id="336594876907008000">Tweets by @keithmiketom</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</section>
	<section>
		<h2>Influences:</h2>
	</section>
	
</aside>