<article id="contact">
			 <div class="left">
                <h1>Exhibition History</h1>
                   <div id="exhibit"><!--cound be updated to a calendar in an updated version-->
                   		<dl>
                   			<dt>Arty Party</dt>
                   				<dd class="date">13<sup>th</sup> June 2009</dd>
                   				<dd class="location">The Backloft Gallery<br />St Augustines St. Dublin 8</dd>
                   			<dt>NCAD Degree Show</dt>
                   				<dd class="date">June 2006</dd>
                   				<dd class="location">NCAD 100 Thomas St. Dublin 8</dd>
                   			
                   		</dl>
                   </div>
     </div>
                     
</article>
<aside class="right">
     <form  action="" method="post" autocomplete="on"> 
     <h1> Contact Me </h1> 
        <p> 
           <label for="firstname" class="fname" >First Name</label><br />
           <input id="firstname" name="firstname" required="required" type="text" placeholder="Your" />
       </p>
       <p> 
          <label for="lastname" class="sname" >Last Name</label><br />
          <input id="lastname" name="lastname" required="required" type="text" placeholder="Name" />
       </p>
       <p> 
          <label for="email" class="youmail">Email</label><br />
          <input id="email" name="email" required="required" type="email" placeholder="mymail@mymail.com"/> 
       </p>
       <p> 
          <label for="comments" class="comment">Queries</label><br />
          <textarea id="comments" name="comments" required="required" >Your Comments Here
          </textarea>
       </p>
       <p class="Submit Button"> 
			 <input type="submit" value="Submit Query"/> 
		</p>
								
     </form>
</aside>

