<article id="contact">
			 <div class="left">
                       <h1>Let's Play a Game</h1>
                       <canvas id="canvas">
                       	
                       </canvas>
             </div>
</article>
<aside class="right">
     <form  action="#" process="#" autocomplete="on"> 
     <h1> Contact Me </h1> 
        <p> 
           <label for="firstname" class="fname" data-icon="u">First Name</label><br />
           <input id="firstname" name="firstname" required="required" type="text" placeholder="Your" />
       </p>
       <p> 
          <label for="lastname" class="sname" data-icon="u">Last Name</label><br />
          <input id="lastname" name="lastname" required="required" type="text" placeholder="Name" />
       </p>
       <p> 
          <label for="email" class="youmail" data-icon="e" >Email</label><br />
          <input id="email" name="email" required="required" type="email" placeholder="mymail@mymail.com"/> 
       </p>
       <p> 
          <label for="comments" class="youpasswd" data-icon="p">Queries </label><br />
          <textarea id="comments" name="comments" required="required" >Your Comments Here
          </textarea>
       </p>
       <p class="Submit Button"> 
			 <input type="submit" value="Submit Query"/> 
		</p>
								
     </form>
</aside>

