<article id="contact">
			 <div class="left">
                <h1>Exhibition History</h1>
                   <div id="exhibit"><!--cound be updated to a calendar in an updated version-->
                   		<dl>
                   			<dt>Arty Party</dt>
                   				<dd class="date">13<sup>th</sup> June 2009</dd>
                   				<dd class="location">The Backloft Gallery<br />St Augustines St. Dublin 8</dd>
                   			<dt>NCAD Degree Show</dt>
                   				<dd class="date">June 2006</dd>
                   				<dd class="location">NCAD 100 Thomas St. Dublin 8</dd>
                   			
                   		</dl>
                   </div>
     </div>
                     
</article>
<aside class="right">
	
	<h1>Contact Me</h1>
	
	<h3>Twitter:</h3>
	<p>How about Tweeting me<br /> <a href="http://www.twitter.com/keithmiketom" target="_blank" alt="twitter", class="button">on Twitter?</a></p>
	<h3>Linked In:</h3>
	<p>Connect with me Professionally on<br /> <a href="http://ie.linkedin.com/in/keithmiketom" alt="email link" target="_blank" class="button">Linked In</a></p>
	<h3>Facebook:</h3>
	<p>You can "like" my work on <br /> <a href="http://www.facebook.com/keithmiketom" target="_blank" alt="Facebook page", class="button">Facebook</a></p>
	<h3>Github:</h3>
	<p>Have a look at my code<br /> <a href="http://www.github.com/keithmiketom" target="_blank" alt="github link" class="button">on Github</a></p>
	<h3>E-mail Me:</h3>
	<p>You can get in touch by sending me an <br /><a href="/contact_forms/new" alt="email link" class="button">E-mail Now!</a></p>
	

</aside>
