<article id="contact">
			 <div class="left">
                <h1>Exhibition History</h1>
                   <div id="exhibit"><!--cound be updated to a calendar in an updated version-->
                   		<dl>
                   			<dt>Arty Party</dt>
                   				<dd class="date">13<sup>th</sup> June 2009</dd>
                   				<dd class="location">The Backloft Gallery<br />St Augustines St. Dublin 8</dd>
                   			<dt>NCAD Degree Show</dt>
                   				<dd class="date">June 2006</dd>
                   				<dd class="location">NCAD 100 Thomas St. Dublin 8</dd>
                   			
                   		</dl>
                   </div>
     </div>
                     
</article>
<aside class="right">
	
	<h1>Contact Me</h1>
	
	<h3>Twitter:</h3>
	<h3>Linked In:</h3>
	<h3>Facebook:</h3>
	<h3>Github:</h3>
	<h3>E-mail Me:</h3>
	<p>You can send me a mail directly from <a href="/contact_forms/new" alt="email link", class="button">here</a></p>
	

</aside>
