/*Leave blank*/
@import "variables.css.scss";
header{
  width:100%;
  margin: 0 auto;
  min-height:300px;
  height:40%;
   background-color:$bl-col;

  img{
    margin-left:0px;
    min-width:365px;
    width:60%;
    background-color:$bl-col;
    &:hover{
      background: #efef6e; /* Old browsers */
background: -moz-linear-gradient(left,  #efef6e 0%, #efef6e 24%, #afecf7 34%, #afecf7 58%, #efef6e 70%, #efef6e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#efef6e), color-stop(24%,#efef6e), color-stop(34%,#afecf7), color-stop(58%,#afecf7), color-stop(70%,#efef6e), color-stop(100%,#efef6e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #efef6e 0%,#efef6e 24%,#afecf7 34%,#afecf7 58%,#efef6e 70%,#efef6e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #efef6e 0%,#efef6e 24%,#afecf7 34%,#afecf7 58%,#efef6e 70%,#efef6e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #efef6e 0%,#efef6e 24%,#afecf7 34%,#afecf7 58%,#efef6e 70%,#efef6e 100%); /* IE10+ */
background: linear-gradient(to right,  #efef6e 0%,#efef6e 24%,#afecf7 34%,#afecf7 58%,#efef6e 70%,#efef6e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efef6e', endColorstr='#efef6e',GradientType=1 ); /* IE6-9 */

      
    }
   
  }
  
}
nav {
  clear:both;
  margin: 0 auto;
  min-height:90px;
  background-color:$bl-col;

 
  
}
header div{
    float:right;
    height:auto;
    
    h2{
    min-height:50px;
    color:white;
    text-align:right;
    font-family: 'Novecentowide-Light';
    font-size:1.5em;
   
  }

}
footer {
  clear:left;
  width:100%-60px;
  padding: 10px 30px 20px;
  height:150px;
  ul{
    float: right;
    list-style:none;
    color:#fff;
    font-size: 0.8em;
    margin-right:4em;
    li{color:white;
  a{
    color:#fff;
    text-decoration:none;
    &:hover{
      color:darken(white, 20%);
      text-decoration:underline;
    }
  }}}
}

body#contactkeith {

  div.right{
  float:right;
  
  
  
 } 
  div.left{
    float:left;
  }
  

  
}

div.push {
  height: 150px;
}

article#contact {
    .left{
      float:left;
      width:40%;
      }
    }
    .right{
        width:60%;
        float:left;
    
  }
#contact aside {min-width:340px;}
aside form{
    min-width:250px;
    width:95%;
    padding:0 1.0em 10%;
    @include border-radius(20px);
    margin:10px 0 20px;
    background-color:lighten($or-col, 40%);
    label{
      margin-right:3em;}
       
         
    }


aside input{
 @include border-radius(50px);
 padding:6px;
}
aside textarea{
  background-color: #f0dddd;
   @include border-radius(10px);
 padding:6px;
 border: 2px inset;
border-top-color: initial;
border-top-style: inset;
border-top-width: 2px;
border-right-color: initial;
border-right-style: inset;
border-right-width: 2px;
border-bottom-color: initial;
border-bottom-style: inset;
border-bottom-width: 2px;
border-left-color: initial;
border-left-style: inset;
border-left-width: 2px;
border-image: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}



#aboutpage{
  text-align:justify;
}





