/*Leave blank*/
@import "variables.css.scss";
header{
  width:100%;
  margin: 0 auto;
  min-height:300px;
  height:40%;
   background-color:$bl-col;

  img{
    margin-left:0px;
    min-width:365px;
    width:60%;
    background-color:$bl-col;
    &:hover{
      background: #efef6e; /* Old browsers */
background: -moz-linear-gradient(left,  #efef6e 0%, #efef6e 24%, #afecf7 34%, #afecf7 58%, #efef6e 70%, #efef6e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#efef6e), color-stop(24%,#efef6e), color-stop(34%,#afecf7), color-stop(58%,#afecf7), color-stop(70%,#efef6e), color-stop(100%,#efef6e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #efef6e 0%,#efef6e 24%,#afecf7 34%,#afecf7 58%,#efef6e 70%,#efef6e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #efef6e 0%,#efef6e 24%,#afecf7 34%,#afecf7 58%,#efef6e 70%,#efef6e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #efef6e 0%,#efef6e 24%,#afecf7 34%,#afecf7 58%,#efef6e 70%,#efef6e 100%); /* IE10+ */
background: linear-gradient(to right,  #efef6e 0%,#efef6e 24%,#afecf7 34%,#afecf7 58%,#efef6e 70%,#efef6e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efef6e', endColorstr='#efef6e',GradientType=1 ); /* IE6-9 */

      
    }
   
  }
  
}
nav {
  clear:both;
  margin: 0 auto;
  min-height:90px;
  background-color:$bl-col;

 
  
}
header div{
    float:right;
    height:auto;
    
    h2{
    min-height:50px;
    color:white;
    text-align:right;
    font-family: 'Novecentowide-Light';
    font-size:1.5em;
   
  }

}
footer {
  clear:left;
  width:100%-60px;
  padding: 10px 30px 20px;
  height:150px;
  ul{
    float: right;
    list-style:none;
    color:#fff;
    font-size: 0.8em;
    margin-right:4em;
    li{color:white;
  a{
    &:link, &:active, &:visited{
    color:#fff;
    text-decoration:none;}
    &:hover{
      color:darken(white, 20%);
      text-decoration:underline;
    }
  }}}
}

body#contactkeith {

  div.right{
  float:right;
  
  
  
 } 
  div.left{
    float:left;
  }
  

  
}

div.push {
  height: 150px;
}



/***************************************************************/
/*                      About Page                             */
/***************************************************************/

#aboutpage{
  text-align:justify;
}
article#aboutpage section h2{
  background-color:hsla(300, 80%, 60%, 0.3);
  height:1.0em;
  padding: 0.6em 0.3em 0.4em 0.9em;
  width:10em;
  @include border-radius(7em);
  &:hover{
    background-color:hsla(120, 72%, 40%, 0.3);
  }
}


/*aside image map */
.mapping{
      list-style:none;
      width:200px;
      height:200px;
      li{
        a{
          padding:0;
          float:left;
          width:100px;
          height:100px;
          display:block; 
          background-image:url('nav/mapping.gif');
          text-indent:-10000px;
        
          }
        }
      }
.mapping li a.one{background-position: 0 0;}
.mapping li a:hover.one{background-position: -200px 0;}
.mapping li a.two{background-position:-100px 0;}
.mapping li a:hover.two{background-position:-300px 0;}
.mapping li a.three{background-position:0 -100px;}
.mapping li a:hover.three{background-position:-200px -100px;}
.mapping li a.four{background-position:-100px -100px;}
.mapping li a:hover.four{background-position:-300px -100px;}


/***************************************************************/
/*                      Contact Page                           */
/***************************************************************/
#contact{
  dt{
    width:80%;
    padding:0.3em 0.3em 0.3em 2.5em;
    background-color:lighten($bl-col, 40%);
    @include border-radius(10px);
    color:red;
    font-size:1.2em;
    
  }
  dd{
    font-family:sans-serif;
    font-size:0.9em;

    }

}
dd.date:before{
  content:"Date: ";
  margin-left:-35px;
  font-weight:bold;
}
dd.location:before{
  content:"Location: ";
  margin-left:-64px;
  font-weight:bold;
}
a.button{
  background-color:lighten($or-col, 30%);
  padding:6px 10px;
  @include border-radius(10px);
  &:hover{
    background-color:#fff;
  }
}




article#contact {
    .left{
      float:left;
      width:60%;
      }
    }
    .right{
        width:60%;
        float:left;
    
  }
 aside form{
    min-width:250px;
    width:95%;
    padding:5% 1.0em 10%;
    @include border-radius(20px);
    margin:10px 0 20px;
    background-color:lighten($or-col, 40%);
    label{
      margin-right:3em;}}
article#contact form{
    min-width:250px;
    width:95%;
    padding:5% 1.0em 10%;
    @include border-radius(20px);
    margin:10px 0 20px;
    background-color:lighten($or-col, 40%);
    label{
      margin-right:3em;}
    
       
         
    }
    
input.button{
  @include border-radius(30px);
  background-color:hsla(250, 60%, 80%, 0.6);
  font-family:'Novecentowide-Light';
  padding:7px 7px;
  &:hover{
    background-color:#fff;
    color:hsl(250, 60%, 80%);
  }
}


article#contact input{
 @include border-radius(50px);
 padding:6px;
}
article#contact textarea{
  background-color: #f0dddd;
   @include border-radius(10px);
 padding:6px;
 border: 2px inset;
border-top-color: initial;
border-top-style: inset;
border-top-width: 2px;
border-right-color: initial;
border-right-style: inset;
border-right-width: 2px;
border-bottom-color: initial;
border-bottom-style: inset;
border-bottom-width: 2px;
border-left-color: initial;
border-left-style: inset;
border-left-width: 2px;
border-image: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}

aside section h2{
  padding:5px;
}

.header-container .drag{
  position:absolute;
  z-index:1000000;
  top:30px;
  right:50px;
}



