<footer class="footer-container clearfix">
	<span>Copyright &copy; 2004 - <%=Date.today.year%></span>
	<ul>
		<li><a href="http://www.facebook.com/keithmiketom" title="Facebook link" target="_blank">Facebook</a></li>
		<li><a href="http://www.twitter.com/keithmiketom" title="Twitter link" target="_blank">Twitter</a></li>
		<li><a href="http://keithmiketom.tumblr.com" title="tumblr link" target="_blank" style="color:white;">Tumblr</a></li>
	</ul>
	<ul>
		<li><%= link_to "Linked In", "https://www.linkedin.com/in/keithmiketom", :title=>"Linked In", :target=>"_blank" %> </li>
		<li><%= link_to "GitHub", "http://www.github.com/keithmiketom", :title => "Github", :target => "_blank" %></li>
		<li><%= link_to "Design Site", "http://www.keithgregg.com", :title => "Design site", :target => "_blank" %></li>
	</ul>
</footer>
