<footer class="footer-container clearfix">
	<span>Copyright &copy; 2004 - <%=Date.today.year%></span>
	<ul>
		<li><a href="http://www.facebook.com/keithmiketom" title="Facebook link" target="_blank">Facebook</a></li>
		<li><a href="http://www.twitter.com/keithmiketom" title="Twitter link" target="_blank">Twitter</a></li>
		<li><a href="http://keithmiketom.tumblr.com" title="tumblr link" target="_blank" style="color:white;">Tumblr</a></li>
	</ul>
	<ul>
		<li><a href="http://www.linkedin.com/ie/keithmiketom" title="Linked In" target="_blank">LinkedIn</a></li>
		<li>GitHub</li>
		<li><a href="http://www.keithgregg.com" title"Design site" target="_blank">Design Site</a></li>
	</ul>
</footer>
