<header class="header-container clearfix">
	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        
       <%= image_tag('header_img.png', :alt =>'Header Logo') %>
       <div>
       		<h2 class="title">Keithmiketom<br />
       		Illustration, Art &amp; Design</h2>
       </div>
              
       

       
</header>

