<nav>
		<ul>
			<li><a href="# ">home</a></li>
			<li><a href="#">about</a></li>
			<li><a href="<%= galleries_path %>">Gallery</a></li>
			<li><a href="<%= blogs_path %>">Blog</a></li>
			<li><a href="#" class=".oldie">contact</a></li>
		</ul>
</nav>